<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Create Shorten Urls</title>
    <link href="~/css/php.css" rel="stylesheet" />
</head>
<body>
    <form class="form" action="add.php" method="post" enctype="application/x-www-form-urlencoded">
        <h1 class="title">创建短链接</h1>
        <div class="form-main">
            <input name="value" placeholder="原始链接" type="url" />
            <input type="submit" value="创建" />
        </div>
    </form>
</body>
</html>